{
  "plugins": ["prettier-plugin-svelte"],
  "quoteProps": "preserve",
  "bracketSameLine": true,
  "svelteSortOrder": "styles-markup-options-scripts",
  "singleQuote": true,
  "trailingComma": "all",
  "printWidth": 100
}
